@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
    font-family: 'Architects Daughter', cursive, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Header */

.bg-orange {
    background-color: #DB400B;
}

.font-white {
    color: #ffffff;
}



/* get recipe recipes.html */
.center-cols>.col {
    float: none;
    display: inline-block;
    text-align: initial;
    margin-bottom: 60px;
}

/* recipe search page and my recipe page */
.recipe-pg-margin{
  margin-bottom: 50%; 
}

/* Recipe view page */
.font-orange {
    color: #FF8008;
    font-weight: bolder;
}

.font-light {
    font-weight: lighter;
}

hr {
    background-color: #F7E800;
    height: 5px;
    border: none;
}



/* Buttons */
.btn-small {
    background-color: #DB400B;
}

.btn-small:hover,
.btn-small:active,
.btn-small:focus,
.btn-small:active:focus {
    background-color: #ff2600;
    color: white;
    box-shadow: none;
}

.deletebtn {
    background-color: #f44336;
}

.cancelbtn {
    background-color: #ccc;
    color: #000000;
}

.cancelbtn,
.deletebtn {
    float: left;
    width: 50%;
    text-align: center;
    margin: 8px 0;
    color: #ffffff;
}

.cancelbtn {
    background-color: #ccc;
    color: #000000;
}

.deletebtn {
    background-color: #f44336;
}

.cancelbtn,
.deletebtn:hover,
:active,
:focus {
    opacity: 1;
}


.btn-large {
    width: 100%;
}

.btn-flat:hover {
    opacity: 1;
}


/* Delete Modal */
.delete-modal {
    width: fit-content;
}

.modal-content {
    text-align: center;
}



.color-org {
    color: #DB400B;
}

/* Home page */
.home-page {
    background: url('../images/292-3852x2556.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0;
}


/* slogan in home page */

.slogan {
    margin-top: 35px;
}

.slogan div h3 {
    font-size: 30px;
    color: #3a005c;
    width: 30%;
    animation: text 2000ms forwards;
    animation-timing-function: ease-in;
}


@keyframes text {
    from {
        width: 0%;
    }

    to {
        width: 30%;
    }
}

.slogan div p {
    font-size: 30px;
}


/* search form  */
.search-input input[type=text] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/searchIcon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

div.container4 form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* recipe and login forms */

.form-field input:focus+label {
    color: #008000 !important;
}

.row .form-field input:focus {
    border-bottom: 1px solid #008000 !important;
    box-shadow: 0 1px 0 0 #008000 !important
}

.user-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-margin {
    margin-bottom: 80px;
}

/* footer  and navigation */

.bg-org {
    background: #FF8008;
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008);
    background: linear-gradient(to right, #FFC837, #FF8008);
}

.sidenav li a {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}


/* footer Only */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* username above nav */
.margin-less div {
    text-align: center;
    margin-bottom: -20px;
}


/* ---social media share Links--- */

.toggle_button {
    width: 250px;
    height: 65px;
    background: #fff;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.2s ease;
}

.toggle_button ul li a {
    display: flex;
    align-items: center;
    height: 65px;
    padding: 0 35px;
}

.toggle_button ul li a.share_btn {
    justify-content: center;
    cursor: pointer;
}

.toggle_button ul li a.share_btn .text {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 10px;
    color: #FF8008;
    margin-right: 15px;
}

.toggle_button ul li a.share_btn .icon {
    width: 35px;
    height: 35px;
    background: #FF8008;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: all 1s ease;
}

.toggle_button ul li a .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.toggle_button ul li a.sm .icon {
    position: relative;
    width: 35px;
    height: 35px;
    background: red;
    border-radius: 50%;
    margin-right: 15px;
}

.toggle_button ul li a .text {
    letter-spacing: 2px;
}

.toggle_button ul li a.facebook .icon {
    background: #3b5998;
}

.toggle_button ul li a.facebook .text {
    color: #3b5998;
}

.toggle_button ul li a.twitter .icon {
    background: #1da1f2;
}

.toggle_button ul li a.twitter .text {
    color: #1da1f2;
}

.toggle_button ul li a.instagram .icon {
    background: #c32aa3;
}

.toggle_button ul li a.instagram .text {
    color: #c32aa3;
}

.toggle_button ul li a.reddit .icon {
    background: #ff4500;
}

.toggle_button ul li a.reddit .text {
    color: #ff4500;
}

.toggle_button.active {
    height: 325px;
}

.toggle_button.active ul li a.share_btn .icon {
    transform: rotate(45deg);
}

.toggle_button ul li a.sm {
    visibility: hidden;
}

.toggle_button.active ul li a.sm {
    visibility: visible;
    transition-delay: 0.3s;
}


/*------ Media Queries --------*/

/* for logo size in mobile devices */
@media (max-width: 450px) {
    nav .brand-logo {
        font-size: 20px;
        top: -6%;
    }
}

@media only screen and (max-width: 600px) {
    nav .brand-logo {
        left: 43%;
    }
}

/* login , registration and recipe form */

@media (max-width: 600px) {
    .user-login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-0%, -50%);
    }
    
    .mobile-margin {
        margin-bottom: 80px;
    }

    .recipe-pg-margin{
        margin-bottom: 50%;
    }
}
/* all recipe page */
