
/* Header */
body {
    margin: 0;
    height: 100%;
    padding: 0;
}


.bg-orange {
    background-color: #DB400B;
}

.font-white {
    color: #ffffff;
}


/* Buttons */

.btn-small {
    display: block;
    margin-left: auto;
    margin-right: 0;
    background-color: #DB400B;
}

.btn-small:hover,
.btn-small:active,
.btn-small:focus,
.btn-small:active:focus {
    background-color: #ff2600;
    color: white;
    box-shadow: none;
}


.color-org {
    color: #DB400B;
}

hr {
    background-color: #F7E800;
    height: 5px;
    border: none;
}

.home-page {
    background: url('../images/292-3852x2556.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

