body {
    min-height: 100vh;
    font-family: 'Architects Daughter', cursive, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}


/* Header */

.bg-orange {
    background-color: #DB400B;
}

.font-white {
    color: #ffffff;
}



/* get recipe recipes.html */
.center-cols > .col{
    float: none;
    display: inline-block;
    text-align: initial;
}




/* Recipe view page */
.font-orange {
    color: #FF8008;
    font-weight: bolder;
}

.font-light {
    font-weight: lighter;
}

hr {
    background-color: #F7E800;
    height: 5px;
    border: none;
}



/* Buttons */
.btn-small {
    background-color: #DB400B;
}

.btn-small:hover,
.btn-small:active,
.btn-small:focus,
.btn-small:active:focus {
    background-color: #ff2600;
    color: white;
    box-shadow: none;
}

.deletebtn {
    background-color: #f44336;
}

.cancelbtn {
    background-color: #ccc;
    color: #000000;
}

.cancelbtn,
.deletebtn {
    float: left;
    width: 50%;
    text-align: center;
    margin: 8px 0;
    color: #ffffff;
}

.cancelbtn {
    background-color: #ccc;
    color: #000000;
}

.deletebtn {
    background-color: #f44336;
}

.cancelbtn,
.deletebtn:hover,
:active,
:focus {
    opacity: 1;
}


.btn-large {
    width: 100%;
}

.btn-flat:hover {
    opacity: 1;
}


/* Delete Modal */
.delete-modal {
    width: fit-content;
}

.modal-content {
    text-align: center;
}



.color-org {
    color: #DB400B;
}

/* Home page */
.home-page {
    background: url('../images/292-3852x2556.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

/* search form  */
.search-input input[type=text] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/searchIcon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

div.container4 form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer  and navigation */

.bg-org {
    background: #FF8008;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC837, #FF8008);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
