<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>The Higher Taste</title>
</head>

<body>
    <header>
        {% if session['logged_in'] == True %}

        <div class="card orange lighten-1 white-text margin-less">
            <div class="center-align">
                {{ session['username']|capitalize }}
            </div>
        </div>

        {% endif %}
        <div class="navbar-fixed">
            <nav class="bg-org">

                <div class="nav-wrapper">
                    <a href="{{ url_for('home_template')}}" class="brand-logo">The Higher Taste<img
                            class="responsive-img" src="{{ url_for('static', filename='images/logo.png')}}"></a>

                    <!-- the if statement below hides irrelavant links when user is logged in -->

                    {% if login_page is not defined %}
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('home_template') }}"><i class="prefix fas fa-home"></i>&nbspHome</a>
                        </li>
                        <li><a href="{{ url_for('get_recipes')}}"><i class="prefix fas fa-folder"></i>&nbspRecipes</a>
                        </li>

                        {% if session['logged_in'] == True %}

                        <li><a href="{{ url_for('add_recipe') }}"><i
                                    class="prefix fas fa-plus-square"></i>&nbspAddRecipe</a></li>

                        <li><a href="{{ url_for('user_recipes') }}"><i class="prefix fas fa-user"></i>&nbspMy
                                Recipes</a></li>
                        <li><a href="{{ url_for('logout_user') }}"><i
                                    class="prefix fas fa-sign-in-alt"></i>&nbspLogout</a>
                        </li>

                        {% else %}

                        <li><a href="{{ url_for('login_user') }}"><i
                                    class="prefix fas fa-sign-in-alt"></i>&nbspLogin</a>
                        </li>

                        {% endif %}
                    </ul>
            </nav>
        </div>
        <!-- side Nav -->

        <ul class="sidenav bg-org" id="mobile-demo">
            <li><a href="{{ url_for('home_template') }}"><i class="prefix fas fa-home"></i>&nbspHome</a>
            </li>
            <li><a href="{{ url_for('get_recipes') }}"><i class="prefix fas fa-folder"></i>&nbspRecipes</a>
            </li>

            {% if session['logged_in'] == True %}

            <li><a href="{{ url_for('add_recipe')}}"><i class="prefix fas fa-plus-square"></i>&nbspAddRecipe</a>
            </li>
            <li><a href="{{ url_for('user_recipes') }}"><i class="prefix fas fa-user"></i>&nbspMy
                    Recipes</a></li>
            <li><a href="{{ url_for('logout_user') }}"><i class="prefix fas fa-sign-in-alt"></i>&nbspLogout</a>
            </li>

            {% else %}

            <li><a href="{{ url_for('login_user') }}"><i class="prefix fas fa-sign-in-alt"></i>&nbspLogin</a>
            </li>

            {% endif %}
        </ul>
        {% endif %}





    </header>

    <main>
        <div>
            <div class="container">

                <div class="col s12">
                    {% with flash_messages = get_flashed_messages(with_categories=true) %}
                    {% if flash_messages %}
                    {% for category, flash_message in flash_messages %}
                    <div class="container card alert red darken-1 white-text {{ category }}">
                        <p>{{ flash_message|capitalize }}</p>
                    </div>
                    {% endfor %} {% endif %} {% endwith %}
                </div>

            </div>
        </div>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer bg-org">
        <div class="container">
            <div class="row">
                <div class="col l3 offset-12 s12">
                    <ul class="footer-link">
                        <li><a href="{{ url_for('home_template')}}"><i class="prefix fas fa-home"></i>&nbspHome</a></li>
                        <li><a href="{{ url_for('get_recipes')}}"><i class="prefix fas fa-folder"></i>&nbspRecipes</a>
                        </li>
                        {% if session['logged_in'] == True %}
                        <li><a href="{{ url_for('add_recipe')}}"><i
                                    class="prefix fas fa-plus-square"></i>&nbspAddRecipe</a></li>
                        <li><a href="{{ url_for('user_recipes') }}"><i class="prefix fas fa-user"></i>&nbspMy
                                Recipes</a></li>
                        <li><a href="{{ url_for('logout_user') }}"><i
                                    class="prefix fas fa-sign-in-alt"></i>&nbspLogout</a></li>
                        {% else %}
                        <li><a href="{{ url_for('login_user') }}"><i
                                    class="prefix fas fa-sign-in-alt"></i>&nbspLogin</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/5d48e9080d.js" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- custom Javascript -->
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>