{% extends "base.html" %}{% block content %}
<div class="home-page">
    <div class="container">
        <div class="row slogan">
            <div class="col s12 center-align">
                <h3>The thousand flavors from the Nature.</h3>
                <p class="white-text hide-on-small-only">A site solely dedicated to the community from around the world
                    to come together and share their best taste of Food.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}