{% extends 'base.html' %} {% block content %}
<!-- Search Result Page -->
<div class="container recipe-pg-margin">
  <!-- If the recipe is found display the result -->
  {% if find %}
  <h1>Search Result: </h1>
  {% endif %}

  {% if recipe.count() > 0 %}
  <div class="row center-cols center-align">
    {% for recipes in recipe %}
    <div class="col l3">
      <div class="card">
        <div class="card-image">
          {% if recipes.recipe_img %}
          <img src="{{recipes.recipe_img}}" width="300" height="200">
          {% else %}
          <img src="{{ url_for('static', filename='images/recipePlaceHolder.jpg') }}" width="300" height="200">
          {% endif %}
        </div>
        <div class="card-content">
          <span class="card-title orange-text"><strong>{{recipes.name}}</strong><br>{{recipes.cuisine}}</span>
          <p>{{recipes.description}}</p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('view_recipe', recipe_id=recipes._id) }}"
            class="waves-effect waves-light view-btn btn-small"><i
              class="material-icons left far fa-eye btn-i"></i>View</a>
        </div>

      </div>

    </div>
    {% endfor %}
    
  </div>
  <!-- if No Recipe found display the message below -->
  {% else %}
  <h4 class="center-align">No Recipe Found</h4>
 
  {% endif %}
  
</div>


{% endblock %}