{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row room">
        {% if recipe.recipe_img %}
        <img class="responsive-img circle" src="{{recipe.recipe_img}}" width="400" height="200">
        {% else %}
        <img class="responsive-img circle" src="{{ url_for('static', filename='images/recipePlaceHolder.jpg') }}"
            width="400" height="200">
        {% endif %}
        <h5><i class="prefix material-icons">local_dining</i>{{recipe.name}}</h5>
    </div>
    <div class="row">
        <div class="col s12">
            <ul>
                <li class="col s3">
                    <i class="prefix fas fa-utensils"></i>
                    <span class="color-org"><strong>Cuisine</strong></span>
                    {{recipe.cuisine}}
                </li>
                <li class="col s3">
                    <i class="prefix fas fa-th-list"></i>
                    <span class="color-org"><strong>Type</strong></span>
                    {{recipe.recipe_type}}
                </li>
                <li class="col s3">
                    <i class="prefix fas fa-users"></i>
                    <span class="color-org"><strong>Serves</strong></span>
                    {{recipe.serves}}
                </li>
                <li class="col s3">
                    <i class="prefix fas fa-hourglass-half"></i>
                    <span class="color-org"><strong>Cooking Time</strong></span>
                    {{recipe.cooking_time}}
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <h4>Description</h4>
        <p>{{recipe.description}}</p>
    </div>
    <hr>
    <div class="row">
        <h4>Ingredients</h4>
        <p>{{recipe.ingredients}}</p>
    </div>
    <hr>
    <div class="row">
        <h4>Instruction</h4>
        <p>{{recipe.instruction}}</p>
    </div>
    <hr>
    <div class="row">
        <h4>Date of Creation</h4>
        <p>{{recipe.added_date}}</p>
    </div>
    <hr>
    <div class="row">
        <div class="col s12">
            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small"><i
                    class="material-icons left fas fa-user-edit btn-i"></i>Edit</a>
            <a class="waves-effect waves-light btn-small modal-trigger" data-target="modal1"><i
                    class="material-icons left fas fa-trash-alt btn-i"></i>Delete</a>
        </div>
    </div>
    <div id="modal1" class="modal delete-modal">
        <div class="modal-content">
            <h2>Delete Recipe</h2>
            <p>Are you sure you want to delete your recipe?</p>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat cancelbtn">Cancel</a>
            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                class="modal-close waves-effect waves-green btn-flat deletebtn">Delete</a>
        </div>
    </div>

</div>

{% endblock %}